<style type="text/css">

    .entry-title {
        font-size: 30px;
        font-family: Lato, sans-serif;
        color: #555;
    }
    .entry-title {
        margin-bottom: 20px;
    }
    .entry-title a {
        color: #555;
    }
    .entry-title a:link {
        font-size: 50px;
        font-weight: lighter;
        color: #555;
        font-family: "Helvetica Neue", Helvetica, sans-serif;}
    .entry-title a:hover {
          text-decoration: none;
          color: #000;
    }
    .entry-title a:hover .text-muted {
        color: #777;
    }
    .entry-title, .basic .entry-title a {
        font-family: "Helvetica Neue", Helvetica, sans-serif;
    }
    .lead-custom {
        color: #666;
        margin-bottom: 35px !important;
    }
    .web-section {
        margin-left: 16.666666666666664%;
        width: 66.66666666666666%;
    }
    .btn-custom {
      display: inline-block;
      padding: 6px 12px;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: normal;
      line-height: 1.428571429;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 4px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
    }
    .btn-danger-custom {
        color: #ffffff;
        background-color: #d9534f;
        border-color: #d43f3a;
    }

    #custom-a {
        color: white;
    }
</style>


## ---------- Date ---------- ##

#set ($date = $dateUtil)
#set ($day = $date.getCurrentDate("dd", $locale))
#set ($month = $date.getCurrentDate("MMMM", $locale))
#set ($year = $date.getCurrentDate("yyyy", $locale))

## ----------- User ---------- ##

#set($user = $permissionChecker.getUser())

<div class=web-section>
    #if ($title.data != "")
        <h1 class="entry-title">
            <a href=$hyperlink.getData() rel="bookmark" >$title.data</a>
        </h1>
    #end

    <div class="entry-meta">by <a href="#" rel="author">$user.firstName $user.lastName</a>&nbsp;on&nbsp;
        <time class="published updated">$day $month, $year</time>
    </div>

    <div class="entry-content">

        #if ($body_text.data != "")
            <p class="lead lead-custom">$body_text.data</p>
        #end

        #if ($body_text.data != "")
            <p class="more-link-p"><a id="custom-a" class="btn-custom btn-danger-custom" href=$hyperlink.data>$button_label.data</a></p>
        #end
    </div>

</div>