
$font-family-sans-serif: "italianno","Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-family: "Italianno";
$navbar-default-color: #A76161;
$navbar-default-link-hover-bg: red;
$breadcrumb-padding-vertical: 38px;
