<nav class="$nav_css_class" id="navigation" role="navigation">
	<ul aria-label="#language ("site-pages")" role="menubar">
		#foreach ($nav_item in $nav_items)
			#set ($nav_item_attr_has_popup="")
			#set ($nav_item_attr_selected="")
			#set ($nav_item_css_class = "")

			#if ($nav_item.isSelected())
				#set ($nav_item_attr_selected="aria-selected='true'")
				#set ($nav_item_css_class = "selected")
			#end

			#if ($nav_item.hasChildren())
				#set ($nav_item_attr_has_popup="aria-haspopup='true'")
			#end

			<li class="$nav_item_css_class" id="layout_$nav_item.getLayoutId()" $nav_item_attr_selected role="presentation">
				<a aria-labelledby="layout_$nav_item.getLayoutId()" href="$nav_item.getURL()" $nav_item_attr_has_popup $nav_item.getTarget() role="menuitem"><span>$nav_item.icon() $nav_item.getName()</span></a>

				#if ($nav_item.hasChildren())
					<span class="triangle">&#9660;</span>
					<ul class="child-menu" role="menu">
						#foreach ($nav_child in $nav_item.getChildren())
							#set ($hasGrandChildren = $nav_child.hasChildren())
							#set ($nav_child_class = "")

							#if ($nav_child.isSelected() || $nav_child.isChildSelected())
								#set ($nav_child_class = "selected")
							#end
							#if ($hasGrandChildren)
								#set ($nav_child_class = ${nav_child_class} + " has-children")
							#end

							<li class="$nav_child_class">
								<a href="$nav_child.getURL()" $nav_child.getTarget()><span>$nav_child.icon() $nav_child.getName()</span>
									#if ($hasGrandChildren)
										<span id="right-triangle" class="triangle">&#9658;</span>
									#end
								</a>

								#if ($hasGrandChildren && ($nav_child.isSelected() || $nav_child.isChildSelected()))
									<ul class="grandchild-menu">
										#foreach ($nav_grandchild in $nav_child.getChildren())
											#set ($hasGreatGrandChildren = $nav_grandchild.hasChildren())
											#if ($nav_grandchild.isSelected() || $nav_child.isChildSelected())
												<li class="selected">
											#else
												<li>
											#end
												<a href="$nav_grandchild.getURL()" $nav_grandchild.getTarget()>$nav_grandchild.getName()</a>

												#if ($hasGreatGrandChildren  && ($nav_grandchild.isSelected() || $nav_child.isChildSelected()))
													<ul class="great-grandchild-menu">
														#foreach ($nav_greatGrandchild in $nav_grandchild.getChildren())
															#set ($hasGreatGrandChildren = $nav_grandchild.hasChildren())
															#if ($nav_greatGrandchild.isSelected())
																<li class="selected">
															#else
																<li>
															#end
																<a href="$nav_greatGrandchild.getURL()" $nav_greatGrandchild.getTarget()>$nav_greatGrandchild.getName()</a>
															</li>
														#end
													</ul>
												#end
											</li>
										#end
									</ul>
								#end
							</li>
						#end
					</ul>
				#end
			</li>
		#end
	</ul>
</nav>