/*///////IMPORT SASS///////*/
@import "compass";

/*///////SASS MIXINS///////*/

/*Utils*/
@mixin highlight($val: none){
	-webkit-touch-callout: $val;
	-webkit-user-select: $val;
	-khtml-user-select: $val;
	-moz-user-select: $val;
	-ms-user-select: $val;
	user-select: $val;
}

/*Colors*/
@function black($opacity){
	@return rgba(0,0,0,$opacity)
}
@function white($opacity){
	@return rgba(255,255,255,$opacity)
}
@function gray($level,$opacity){
	@return rgba($level,$level,$level,$opacity)
}

/*@font-face*/
// Bourbon Mixin for top notch webfont support: https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_font-face.scss
@mixin font-face($font-family, $file-path, $weight: normal, $style: normal ) {
  @font-face {
      font-family: $font-family;
      src: url('#{$file-path}.eot');
      src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
           url('#{$file-path}.woff') format('woff'),
           url('#{$file-path}.ttf') format('truetype'),
           url('#{$file-path}.svg##{$font-family}') format('svg');
      font-weight: $weight;
      font-style: $style;
  }
}

/*///////SASS VARS///////*/
/*Wrapper*/
$siteWidth: 1000px;
$wrapWidth: 1020px;
$contentWidth: 960px;

/*Header*/
$headerHeight: 450px;

/*///////CMS Tweaks///////*/
#skip-to-content, .icon {
	display: none;
}
.page-customization-bar {
	color: #000;
	text-shadow: none;
}

/*///////RESETS & UTILS///////*/
* {
	@include box-sizing(border-box);
}

/*///////GENERAL STYLES///////*/
div, h1, h2, h3, h4, h5, li, p {
	color: #333;
	text-shadow: 1px 1px 0 white;
}

/*///////BODY & WRAPPER STYLES///////*/

body {
	background-color: #2A2927;
	background-image: url(../images/template/overlay-pattern.png), url(../images/template/top-img-bg.jpg), url(../images/template/bot-img-bg.jpg);
	background-position: left top, center top, center 800px;
	background-repeat: repeat, no-repeat, no-repeat;
}

#banner *, #main-content *, #main-footer * {
	margin: 0 auto;
	max-width: $contentWidth;
}


/*///////HEADER STYLES///////*/
#banner {
	height: $headerHeight;
	margin: 0 auto;
	max-width: $siteWidth;
	#sign-in {
		display: none;
	}
}

/*Slideshow*/
#slideshow-wrapper {
	height: 0;
	margin: 0 auto;
	max-width: $siteWidth;
	overflow: visible;
	z-index: -1;
	#slideshow {
		height: $headerHeight;
		overflow: hidden;
		position: absolute;
		width: $siteWidth;
		z-index: -1;
		img {
			height: auto;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: -1;
		}
	}
	#slideButton-wrapper {
		height: 0;
		position: absolute;
		overflow: visible;
		width: $siteWidth;
	}
	.slideButton {
		color: #fff;
		cursor: pointer;
		display: block;
		float: left;
		font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
		font-size: 300%;
		height: 50px;
		line-height: 50px;
		position: absolute;
		text-align: center;
		text-shadow: 0 -1px 0 black(.7);
		top: 200px;
		width: 50px;
		@include box-shadow(0 0 5px black(.5), 0 1px 1px gray(225,.3) inset);
		@include highlight();
		@include background-image(
			linear-gradient(gray(77,.7),gray(20,.7) 75%,black(.7)));
		@include border-radius(8px);
		&#prevButton {
			left: 3%;
		}
		&#nextButton {
			right: 3%;
		}
		&:hover {
			@include background-image(
				linear-gradient(#E33232,#C71B1B 45%,#A31616));
		}
	}
}

.heading {
	clear: both;
	display: block;
}
.site-title {
	display: block;
	float: left;
	width: auto;
	padding: 10px 0;
}
#loginbox {
	float: right;
	width: 60%;
	max-width: 360px;
	* {
		clear: none;
		float: left;
		width: 100%;
	}
	.portlet-body {
		color: #fff;
		float: right;
		text-shadow: none;
	}
	h1, .navigation, .aui-field-label, .aui-field-choice {
		display: none;
	}
	.aui-fieldset, .aui-field, .aui-button-holder {
		width: auto;
	}
	.aui-fieldset {
		min-width: 75%;
	}
	.aui-field-input, 
	input#_58_login.aui-field-input:-webkit-autofill, 
	input#_58_password.aui-field-input:-webkit-autofill {
		background-color: #1F1F1F !important;
		border-color: black;
		color: red !important;
		@include box-shadow(0 1px 5px black(.5) inset);
	}
	.aui-button-input,  {
		background-color: #C31B1B;
		border: 1px solid #A31616;
		color: #fff;
		padding: 7px;
		text-shadow: 0 -1px 0 #000;
		text-transform: uppercase;
		@include background-image(
			linear-gradient(#D91D1D,#C71B1B 45%,#B51919));
		&:hover, &:active {
			background: none;
			background-color: #DB2626;
			@include background-image(
				linear-gradient(#E22929,#E22929 45%,#BE1A1A));
		}
	}
}
.page-title {
		color: #fff;
		display: none;
		float: right;
		height: 40px;
		line-height: 400%;
		text-shadow: 0 -1px 1px #000;
		width: auto;
	}

/*///////MAIN NAV STYLES///////*/

#navigation {
	clear: both;
	color: #DFDFDF;
	float: none;
	height: 56px;
	li ul {
		display: none;
	}
	&:hover li ul {
		display: inline;
	}
	h1 {
		display: none;
	}
	ul {
		height: 100%;
		list-style: none;
		li {
			float: left;
			height: 100%;
			width: auto;
			a {
				display: block;
				font-family: Helvetica, 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', sans-serif;
				font-size: 170%;
				height: 48px;
				line-height: 40px;
				margin-top: 6px;
				padding:0 20px;
				text-align: center;
				text-decoration: none;
				text-shadow: -1px -1px 0 #000;
				text-transform: uppercase;
				width: auto;
				&:after {
					color: #A5A5A5;
					position: absolute;
					right: 6px;
					top: 25%;
					margin-top: -10px;
					font-family: Helvetica;
					content: "+";
					font-size: 16px;
				}
				&:link, &:visited {
					color: #D8D8D8;
					@include transition(color .1s ease-in-out);
				}
			}
			&.selected {
				a:hover {
					background-color: transparent;
					background-image: none;
					color: #D8D8D8;
					filter: none;
					@include box-shadow(none);
				}
			}
			/*SubNav Menu*/
			&:hover {
				a, a:after {
					color: #fff !important;
				}
				ul {
					@include opacity(1);
					@include transition(opacity .25s ease-in-out);
				}
			}
			ul {
				background-color: #C71B1B;
				height: auto;
				min-width: 150px;
				padding: 4px 0;
				position: absolute;
				@include opacity(0);
				li {
					width: 100%;
					a {
						border-bottom: 1px solid black(.1);
						border-top: 1px solid white(.2);
						font-size: 130%;
						height: auto;
						padding-bottom: 3px;
						text-align: left;
						text-transform: none;
						&:link, &:visited {
							color: #fff;
						}
						&:after {
							content: '';
						}
					}
					&:first-child a {
						border-top: 1px solid #C71B1B;
					}
					&:last-child a {
						border-bottom: none;
					}
				}
			}
		}
	}
}

/*///////CONTENT STYLES///////*/
#content {
	margin: 0 auto;
	max-width: $wrapWidth;
}
#main-content {
	background: #F1F1F1;
	margin: 0 auto;
	padding: 0 45px;
}
.body-angle {
	background-image: url(../images/template/body-angle.png);
	background-repeat: no-repeat;
	background-size: $wrapWidth auto;
	height: 112px;
	margin: 0 auto;
	max-width: $wrapWidth !important;
}
.body-angle-top {
	background-position: top center;
	margin-top: -100px;
}
.body-angle-bottom {
	background-position: bottom center;
	position: absolute;
	width: $wrapWidth;
}
.body-corner-wrapper {
	height: 115px;
	position: absolute;
	width: $wrapWidth;
}
.body-corner {
	border-color: #F0F0F0;
	border-left-color: transparent;
	border-right-color: transparent;
	border-style: solid;
	height: 0;
	position: absolute;
	width: 0;
	z-index: -1;
}
.body-corner-top-left {
	border-width: 0px 0px 9px 10px;
	bottom: 17px;
	left: 0;
}
.body-corner-top-right {
	border-width: 0 10px 9px 0;
	bottom: 75px;
	right: 0;
}
.body-corner-bottom-left {
	border-width: 9px 0 0 10px;
	bottom: 27px;
	left: 0;
}
.body-corner-bottom-right {
	border-width: 9px 10px 0 0;
	bottom: 85px;
	right: 0;
}
#searchbox {
	height: 100%;
	margin: 0 auto;
	margin-top: -20px;
	max-width: $contentWidth;
	.portlet-boundary {
		background-color: black(.8);
		border: 1px solid #000;
		display: inline-block;
		float: right;
		height: 100%;
		max-width: 400px;
		width: 32%;
		@include box-shadow(0 1px 0 gray(225,.3) inset);
	}
	.portlet-title {
		color: #DFDFDF;
		font-size: 120%;
		padding: 10px;
		padding-bottom: 0;
		text-shadow: none;
	}
}
#breadcrumbs {
	display: none;
}
.portlet-topper {
	font-size: 190%;
	padding: 3px 0;
}
#main-content {
	.portlet, .portlet-borderless-container {
		padding-bottom: 20px;
	}
}
#column-2 {
	.column-header {
		background: #E6E6E6;
		border-bottom: 1px solid #D6D6D6;
		text-align: center;
	}
	.portlet-topper {
		color: #C71B1B;
		font-size: 150%;
		margin-bottom: 10px;
	}
	.portlet {
		border: 1px solid #D6D6D6;
		padding: 15px;
		@include background-image(
			linear-gradient(#F3F3F3,#F3F3F3 25%,#E4E4E4));
	}
	.portlet-column-content {
		padding: 0;
	}
	.portlet-content {
		padding-bottom: 10px;
	}
}

/*///////PORTLET STYLES///////*/

/*Login Styles*/
.portlet-login .aui-field-content {
	display: inline-block;
	float: left;
	padding-right: 20px;
	padding-bottom: 10px;
	width: auto;
}

/*///////FOOTER STYLES///////*/
#footer {
	max-width: $wrapWidth;
	margin: 0 auto;
}
#main-footer {
	background: #292223;
	margin: 0 auto;
	max-width: $siteWidth;
	padding-bottom: 30px;
	padding-top: 100px;
}

/*///////CSS3 STYLES////////*/
#banner, #main-content, #main-footer {
	@include box-shadow(0 30px 25px 0 black(.5));
}

/*Main Nav*/
#navigation {
	background-color: black(.42);
	border: {
		color: black(.3);
		style: solid;
		top: white(.2);
		width: 1px;
	}
	@include border-radius(10px);
	@include box-shadow(0 -1px 0 black(.6), 0 1px 0 gray(225,.2) inset, 0 1px 2px black(.5));
	@include background-image(
		linear-gradient(gray(51,.7), black(.7) 70%, black(.7) 70%));
	ul {
		li {
			@include box-shadow(1px 0 0 gray(225,.1) inset, -1px 0 0 black(.1) inset);
			&.selected {
				background-color: gray(54,.42);
				@include background-image(
					linear-gradient(black(.7), gray(51,.7) 70%, gray(64,.7)));
				background-repeat: no-repeat;
			}
			&:first-child {
				@include border-top-left-radius(10px);
				@include border-bottom-left-radius(10px);
				a:hover {
					@include border-bottom-left-radius(10px);
				}
			}
			&:hover {
				a {
					background-color: #C71B1B;
					background-repeat: no-repeat;
					color: #fff;
					@include border-top-left-radius(5px);
					@include border-top-right-radius(5px);
					@include background-image(
						linear-gradient(#E64848,#C71B1B 75%,#C71B1B));
					@include box-shadow(0 1px 0 gray(225,.3) inset);
				}
			}
		}
	}
}

/*Sub Nav*/
#navigation {
	li, li:hover {
		ul {
			@include border-radius(0);
			@include border-top-right-radius(5px);
			@include border-bottom-left-radius(5px);
			@include border-bottom-right-radius(5px);
			li, li:hover {
				a, a:hover, a:active, a:first-child {
					@include border-radius(0);
				}
				a {
					padding-bottom: 0;
					margin-top: 0;
					background-image: none;
					@include box-shadow(none);
				}
				a:hover {
					border-top: 1px solid black(.2);
					@include box-shadow(0 0 10px 1px black(.4) inset);
				}
			}
		}
	}
}