$FontAwesomePath: "aui/lexicon/fonts/alloy-font-awesome/font";
$font-awesome-path: "aui/lexicon/fonts/alloy-font-awesome/font";

$gray-base: #A2A095;
$gray-darker: #A2A095;
$gray-dark: #A2A095;
$gray: #A2A095;
$gray-light: lighten($gray-base, 15.7%);
$gray-lighter: lighten($gray-base, 20.5%);
$brand-primary: #829839;
$brand-success: #C8E86B;
$brand-info: #69D2E7;
$brand-warning: #FFEEAA;
$brand-danger: #FC9D9A;
$headings-font-family: "Italianno";
$btn-primary-bg: #829839;
$dropdown-link-active-bg: #C8E86B;
$dropdown-link-disabled-color: #A2A095;
$navbar-default-color: #A76161;
$navbar-default-link-hover-color: #FFF;
$navbar-default-toggle-hover-bg: #FFF;
