// Icon paths
$FontAwesomePath: "aui/lexicon/fonts/alloy-font-awesome/font";
$font-awesome-path: "aui/lexicon/fonts/alloy-font-awesome/font";
$icon-font-path: "aui/lexicon/fonts/";

$btn-primary-bg: #829839;
$dropdown-link-active-bg: #829839;
$navbar-default-color: #A76161;
$breadcrumb-padding-vertical: 38px;