body {
	background-color: #FFF;
	font-family: "Dosis", sans-serif;
	margin: 0;
	padding: 0;
}
#wrapper{
	margin: 0;
	padding: 0;
}



/**************** Header section (begin) ***************/

.website-header {
	background: #f3f3f3 url(images/bg-light-shadow.png) repeat-y;
	clear: both;
	position: relative;
}

/**************** Header section (end) ******************/



/**************** Website Title Section (begin) *********/

#website-name{
	color: #A2A095;
	font-family: 'Italianno', sans-serif;
	font-size: 65px;
	font-style: italic;
	text-align: center;
}
.website-author{
	color: #829839;
	font-size: 20px;
	text-align: center;
}

/**************** Website Title Section (end) ************/



/**************** Social Icon Section (begin) ************/

#social-icons {
	background: #ededed url(images/bg-light-shadow.png) 50% 0 repeat-y;
	border-bottom: 1px solid #fff;
	box-shadow: 0 4px 2px 0 rgba(255, 255, 0, 0.08) inset;
	min-height: 45px;
	padding: 8px 14px 10px 14px;
	position: relative;
}
.social-links {
	float: right;
}
.social-links ul {
	display: inline;
	margin: 0;
	padding: 0;
}
.social-links li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	list-style: none;
}
.social-links li a {
	border-radius: 50%;
	color: #555;
	display: inline-block;
	*display: inline;
	font-size: 20px;
	height: 32px;
	line-height: 32px;
	margin: 0 5px;
	position: relative;
	text-align: center;
	transition: background 0.8s ease-in-out;
	width: 32px;
	*zoom: 1;
}
.social-links li a:after {
	border:2px solid #ddd;
	border-radius: 50%;
	content:"";
	height: 32px;
	left: -1px;
	position: absolute;
	top: -2px;
	transition: all 0.5s ease-in-out;
	width: 32px;
}
.social-links li a:hover:after {
	height: 39px;
	left: -3.5px;
	top: -4px;
	width: 39px;
}
.social-links li a img {
	border: none;
	vertical-align: middle;
	width: 24px;
}

.social-links li a:hover {
	background-color: #FC9D9A;
	transition : background 0.1s ease-in-out;
}
.social-links li a:hover:after {
	border: .5px solid #FC9D9A;
}
/*2ND BUTTON*/
.social-links li + li a:hover {
	background-color: #C8C8A9;
}
.social-links li + li a:hover:after {
	border: .5px solid #C8C8A9;
}
/*3RD BUTTON*/
.social-links li + li + li a:hover {
	background-color: #69d2e7;
}
.social-links li + li + li a:hover:after {
	border:.5px solid #69d2e7;
}
/*4TH BUTTON*/
.social-links li + li + li + li a:hover {
	background-color: #CBE86B;
}
.social-links li + li + li + li a:hover:after {
	border: .5px solid #CBE86B;
}
/*************** Social Icon Section (end) ******************/


/*************** HEADER Navigation Bar Section (begin) *******/

#navigation{
	border-top:1px solid #DDD;
	text-align: center;
}

#navigation a{
	color: #888;
	text-decoration: none;
}

#navigation li{
	display: inline-block;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

#navigation .lexicon-icon{
	display: none;
}

#navigation select.child-menu{
	display: block;
}

#navigation li a span{
	color: #888;
	font-size: 18px;
	padding: 18px;

}

#navigation #layout_1 span{
	color: #829839;
}

#navigation span:hover{
	background-color: white;
	border-top: 1px solid #829839

}



/*************** Navigation Bar Section (begin) **************/
.navbar{
	border-top: 1px solid #DDD;
	margin-bottom: 0;
	text-align: center;
	
}
#layout_1 span{
	color: #829839;
	display: inline-block;
	font-size: 20px;
}
.navbar a{
	color:#888;
}
.navbar li{
	display: inline-block;
	float: none;
	margin-left: auto;
	margin-right: auto;
}
.navbar .lexicon-icon{
	display:none;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
}
.navbar li .dropdown-toggle:hover{
	background-color: white;
	border-top: 1px solid #829839;
}
#layout_1:hover{
	background-color:white;
	border-top: 1px solid #829839;
}

/*********** Navigation Bar Section (end) **********/





/*********** Image Carousel (begin) ****************/

.carousel.fade {
	opacity: 1;
}
.carousel.fade .item {
	display: block;
	opacity: 0;
	position: absolute;
	top: 0;
	transition: opacity ease-out .4s;
	width: 100%;
}
.carousel.fade .item:first-child {
	opacity: 1; 
	position: relative;
	top: auto;
}
.carousel.fade .item.active {
	opacity: 1;
}

.portlet-decorate.portlet-journal-content .portlet-content.portlet-content-editable img{
	margin-left: auto;
	margin-right: auto;
}

/************ Image Carousel (end) *******************/





/************ Slogan Section (begin) ******************/
.slogan-area{
	background-image: url("images/bg-slogan.png");
	padding:0 0 35px 0;
}
.slogan{
	color:#829839;
	font-family:"italianno";
	font-size: 50px;
	font-style:italic;
	text-align:center;
}
.slogan-comment{
	color:#A2A095;
	font-size: 20px;
	text-align:center;

}
/*********** Slogan Section (end) *********************/



/*********** Widget Section (begin) ********************/

#widgets123{
	padding-top:30px;
	text-align:center;
	width:100%;	
}
.justborder{
	border-bottom:7px solid #E8E8E8;
}
.widget-1{
	display:inline-block;
	width:25%;
	margin-left:auto;
	margin-right:auto;
	padding:1%;
	vertical-align: top;
}
.widget-2{
	display:inline-block;
	margin-left:auto;
	margin-right:auto;
	padding:1%;
	vertical-align:top;
	width:25%;
}
.widget-3{
	display:inline-block;
	margin-left:auto;
	margin-right:auto;
	padding:1%;
	vertical-align: top;
	width:25%;
}
.widget-title{
	border-bottom: 7px solid #CCCCCC;
	color:#5B3D00;
	display:inline;
	font-size: 19px;
	text-align:center;
	vertical-align: bottom;
}
.w-content{
	color:#818077;
	font-family: 'Helvetica', sans-serif;
	font-size:14px;
	padding:10px;
}