body {
	background-color: #FFF;
	font-family: "PhilDosis", sans-serif;
	margin: 0;
	padding: 0;
}

#wrapper {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "PhilItaly";
	src: url(fonts/Italianno/italianno.woff);
}

@font-face {
	font-family: "PhilDosis";
	src: url(fonts/Dosis/dosis.woff);
}

.fa-select {
	font-family: sans-serif, 'FontAwesome';
}

/************ Header section begin ************/

.website-header {
	background: #F3F3F3 url(images/bg-light-shadow.png) repeat-y;
	clear: both;
	position: relative;
}

/************ Header section end ************/

/************ Website title section begin ************/

.website-name {
	color: #A2A095;
	font: italic 65px "PhilItaly", sans-serif;
	text-align: center;
}

.website-author {
	color: #829839;
	font-size: 20px;
	text-align: center;
}

/************ Website title section end ************/

/************ Social icon section begin ************/

#social-icons {
	background: #EDEDED url(images/bg-light-shadow.png) 50% 0 repeat-y;
	border-bottom: 1px solid #FFF;
	box-shadow: 0 4px 2px 0 rgba(255, 255, 0, 0.08) inset;
	min-height: 45px;
	padding: 8px 14px 10px 14px;
	position: relative;
}

.social-links {
	float: right;
}

.social-links ul {
	display: inline;
	margin: 0;
	padding: 0;
}

.social-links li {
	display: inline-block;
	/**display: inline;*/
	*zoom: 1;
	list-style: none;
}

.social-links li a {
	border-radius: 50%;
	color: #555;
	display: inline-block;
	/**display: inline;*/
	font-size: 20px;
	height: 32px;
	line-height: 32px;
	margin: 0 5px;
	position: relative;
	text-align: center;
	transition: background 0.8s ease-in-out;
	width: 32px;
	*zoom: 1;
}

.social-links li a:after {
	border: 2px solid #DDD;
	border-radius: 50%;
	content: "";
	height: 32px;
	left: -1px;
	position: absolute;
	top: -2px;
	transition: all 0.5s ease-in-out;
	width: 32px;
}

.social-links li a:hover:after {
	height: 39px;
	left: -3.5px;
	top: -4px;
	width: 39px;
}

.social-links li a img {
	border-width: none;
	vertical-align: middle;
	width: 24px;
}

.social-links li {
	a:hover {
		background-color: #FC9D9A;
		transition: background 0.05s ease-in-out;

		&:after {
			border: 0.5px solid #FC9D9A;
		}
	}

	+ li {
		a:hover {
			background-color: #C8C8A9;

			&:after {
				border: 0.5px solid #C8C8A9;
			}
		}

		+ li {
			a:hover {
				background-color: #69D2E7;

				&:after {
					border: 0.5px solid #69D2E7;
				}
			}

			+ li a:hover {
				background-color: #CBE86B;

				&:after {
					border: 0.5px solid #CBE86B;
				}
			}
		}
	}
}

/************ Social icon section end ************/

/************ Header navigation bar section begin ************/

#navigation {
	border-top: 1px solid #DDD;
	text-align: center;
}

nav.affix {
	background: white;
	top: 0;
	width: 100%;
	z-index: 50;
}

#navigation a {
	color: #888;
	text-decoration: none;
}

#navigation li {
	display: inline-block;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

#navigation .lexicon-icon {
	display: none;
}

#navigation select.child-menu {
	display: block;
}

#navigation li a span {
	color: #888;
	font-size: 18px;
	padding: 18px;
}

/*#navigation #layout_1 span {
	color: #829839;
}*/

#navigation span:hover {
	background-color: white;
	border-top: 1px solid #829839;
	color: #829839;
}

/************ Header navigation bar section end ************/

/************ Navigation bar section begin ************/

.navbar {
	border-top: 1px solid #DDD;
	margin-bottom: 0;
	text-align: center;
}

#layout_1 span {
	color: #829839;
	display: inline-block;
	font-size: 20px;
}

.navbar a {
	color: #888;
}

.navbar li {
	display: inline-block;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.navbar .lexicon-icon {
	display: none;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar li .dropdown-toggle:hover {
	background-color: white;
	border-top: 1px solid #829839;
}

#layout_1:hover {
	background-color: #FFF;
	border-top: 1px solid #829839;
}

/************ Navigation bar section end ************/

/************ Image carousel begin ************/

.carousel.fade {
	opacity: 1;
}

.carousel.fade .item {
	display: block;
	opacity: 0;
	position: absolute;
	top: 0;
	transition: opacity ease-out 0.4s;
	width: 100%;
}

.carousel.fade .item:first-child {
	opacity: 1;
	position: relative;
	top: auto;
}

.carousel.fade .item.active {
	opacity: 1;
}

.portlet-decorate.portlet-journal-content .portlet-content.portlet-content-editable img {
	margin-left: auto;
	margin-right: auto;
}

/************ Image carousel end ************/

/************ Slogan section begin ************/

.slogan-area {
	background-image: url(images/bg_slogan.png);
	padding: 0 0 35px 0;
}

.slogan {
	color: #829839;
	font: italic 50px "PhilItaly", sans-serif;
	text-align: center;
}

.slogan-comment {
	color: #A2A095;
	font-size: 20px;
	text-align: center;
}

/*********** Slogan section end ************/

/*********** Widget section begin ************/

#widgets123 {
	padding-top: 30px;
	text-align: center;
	width: 100%;
}

.justborder {
	border-bottom: 7px solid #E8E8E8;
}

.widget-left {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding: 1%;
	vertical-align: top;
	width: 25%;
}

.widget-center {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding: 1%;
	vertical-align: top;
	width: 25%;
}

.widget-right {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding: 1%;
	vertical-align: top;
	width: 25%;
}

.widget-title {
	border-bottom: 7px solid #CCC;
	color: #5B3D00;
	display: inline;
	font-size: 19px;
	text-align: center;
	vertical-align: bottom;
}

.w-content {
	color: #818077;
	font: 'Helvetica', sans-serif 14px;
	padding: 10px;
}