$gray-base: #A2A095;
$brand-primary: #2F6F9F;
$brand-success: #829839;
$brand-info: #A5C9E2;
$btn-primary-bg: #829839;
$dropdown-link-active-bg: #829839;
$navbar-default-color: #A76161;
$breadcrumb-padding-vertical: 38px;
