#banner {
	align-items: center;
	background-color: transparent;
	display: flex;
	flex-wrap: wrap;
	font-size: 24px;
	justify-content: space-between;
	padding: 10px 20px;
	position: fixed;
	transition: background 0.1s linear;
	width: 100%;
	z-index: 555;

	.logo {
		color: #FFF;
		font-family: $nixie;
		font-weight: 800;
		text-decoration: none;

		&:hover, &:focus {
			text-decoration: none;
		}
	}

	h1, i {
		font-size: inherit;
	}
}

#heading .site-title {
	margin: 0;
}

#nav-wrapper {
	background-color: transparent;
	border-width: 0;
	padding: 0;
}

@import './_off_screen_navigation.scss';

@media (min-width: 450px) {
	@import './_on_screen_navigation.scss';
}