$btn-border-radius: 0;
$btn-default-color: rgba(0, 0, 0, 0.7);
$btn-default-hover-border: rgba(0, 0, 0, 1);
$btn-default-hover-color: rgba(0, 0, 0, 1);
$btn-font-weight: lighter;
$btn-success-bg: #9C5CB8;
$font-awesome-path: "aui/lexicon/fonts/alloy-font-awesome/font";
$jumbotron-padding: 0;
