@import './_custom_vars.scss';

.btn, .btn-default {
	background-color: transparent;
	border: 1px solid $btn-default-color;
	border-radius: 0;
	color: $btn-default-color;
	transition: 0.2s linear all;

	&:hover {
		border: 1px solid $btn-default-hover-color;
		color: $btn-default-hover-color;
	}
}

.navbar {
	border-radius: 0;
}

.form-control {
	height: 33px;
}