/* Custom fonts */

$alegreyaSC: 'Alegreya SC', Georgia, serif;
$alegreyaSans: 'Alegreya Sans', 'Avant Garde', sans-serif;
$helvetica: 'Helvetica Neue', Helvetica, sans-serif;
$nixie: 'Nixie One', 'Courier', monospace;

/* Custom colors */

$custom-color-blue: #5481B5;
$custom-color-blue-green: #52A3BA;
$custom-color-gray: #607D8B;
$custom-color-green: #009688;
$custom-color-purple: #9575CD;
$custom-color-red: #A05C5C;
