@mixin applyAccent($wrapper-class, $accent) {
	#{$wrapper-class} {
		#banner.filled {
			background-color: $accent;
		}

		a {
			color: rgba($accent, 0.9);

			&:hover {
				color: rgba($accent, 1);
			}
		}

		.portlet {
			&:hover {
				.portlet-content-editable {
					box-shadow: inset 1px 1px 2px $accent, inset -1px -1px 2px $accent;
				}
			}
		}

		.portlet-decorate {
			blockquote {
				border-left: 5px solid $accent;
			}

			.cards li:hover .overlay {
				background-color: rgba($accent, 0.5);
			}

			.blog-cards li a {
				color: $accent;
			}
		}

		#content {
			.btn:hover, .btn-default:hover {
				background-color: rgba($accent, 0.9);
				border-color: rgba($accent, 0.9);
			}
		}

		.form-control:focus {
			border-color: $accent;
			box-shadow: inset 0 1px 1px rgba(#000, 0.075), 0 0 2px rgba($accent, 0.4);
		}
	}
}