/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

@import 'fonts.scss';
@import '_custom_vars.scss';
@import '_apply_accent_colors.scss';

/* Global styles */

* {
	border-radius: 0;
	font-weight: lighter;
}

.row {
	margin: 0;
}

.col-md-12 {
	padding: 0;
}

#wrapper {
	padding-top: 0;
}

.container-fluid {
	padding: 0;
}

.btn, .btn-default {
	background-color: transparent;
	border: 1px solid $btn-default-color;
	border-radius: 0;
	color: $btn-default-color;
	@include transition(0.2s linear all);

	&:hover {
		border: 1px solid $btn-default-hover-color;
		color: $btn-default-hover-color;
	}
}

.navbar {
	border-radius: 0;
}

.form-control {
	height: 33px;
}

/* Header Styles */

@import './header/_header.scss';

/* Content Styles */

#content {
	margin-top: 0
}

.portlet {
	margin-bottom: 0;

	&:hover .portlet-topper {
		@include transform(none);
	}

	a:hover {
		text-decoration: none;
	}

	.lexicon-icon {
		color: #777;
	}
}

.portlet-topper {
	background-color: rgba(#000, 0.3);
	border-radius: 0 0 5px 0;
	border-width: 0;
	color: #FFF;
	width: 50%;
	z-index: 400;

	.lexicon-icon {
		color: #FFF;
	}
}

.cards {
	@include display(flex);
	@include flex-wrap(wrap);
	@include justify-content(flex-start);
	list-style-type: none;
	margin: 0 auto;
	max-width: 1024px;
	padding: 0 50px;

	li {
		min-width: 200px;
		padding: 0 10px;
		text-align: center;
		width: 33.33%;

		i {
			font-size: 50px;
		}

		h4 {
			font-size: 14px;
		}

		p {
			font-size: 12px;
			opacity: 0.6;
		}

		@media (max-width: 715px) {
			width: 50%;
		}

		@media (max-width: 600px) {
			margin: 0 auto;
			width: 100%;
		}
	}

	@media (max-width: 600px) {
		padding: 0;
	}
}

@import './portlet/_portlet_decorate.scss';
@import './portlet/_portlet_banner.scss';

/* Footer Styles */

#footer {
	background-color: #F1F0F0;
	color: rgba(#000, 0.6);
	padding: 50px;

	a {
		color: inherit;
		font-weight: 600;
		@include transition(color 0.3s linear);

		&:hover {
			color: rgba(#000, 1);
		}
	}
}

/* Apply color themes */

@include applyAccent('.blue-green-theme', $custom-color-blue-green);
@include applyAccent('.blue-theme', $custom-color-blue);
@include applyAccent('.gray-theme', $custom-color-gray);
@include applyAccent('.green-theme', $custom-color-green);
@include applyAccent('.purple-theme', $custom-color-purple);
@include applyAccent('.red-theme', $custom-color-red);