/* Custom fonts */

$alegreyaSC: 'Alegreya SC', Georgia, serif;
$alegreyaSans: 'Alegreya Sans', 'Avant Garde', sans-serif;
$helvetica: 'Helvetica Neue', Helvetica, sans-serif;
$nixie: 'Nixie One', 'Courier', monospace;

/* Custom colors */

$custom-color-blue: #52A3BA;
