#banner {
	align-items: center;
	background-color: transparent;
	display: flex;
	font-size: 24px;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 10px 20px;
	position: fixed;
	transition: background 0.1s linear;
	width: 100%;
	z-index: 555;

	&.filled {
		background-color: $custom-color-1;
	}

	.logo {
		color: #FFF;
		font-family: $nixie;
		font-weight: 800;
		text-decoration: none;

		&:hover, &:focus {
			text-decoration: none;
		}
	}

	h1, i {
		font-size: inherit;
	}
}

#heading .site-title {
	margin: 0;
}

#nav-wrapper {
	background-color: transparent;
	border-width: 0;
	padding: 0;
}

#nav-trigger {
	display: none;
}

.nav-trigger-btn {
	color: #FFF;
	font-size: 30px;
	margin: 0;
	position: absolute;
	right: 20px;
	top: 8px;
	transform: translateX(0);
	transition: 0.5s ease all;

	&:hover {
		cursor: pointer;
		opacity: 0.5;
	}
}

#nav-trigger:checked + .nav-trigger-btn {
	opacity: 0.5;
	transform: translateX(-250px);
	z-index: 999;
}

.full-page-overlay {
	transition: background 0.2s linear;
}

#nav-trigger:checked ~ .full-page-overlay {
	background-color: rgba(0, 0, 0, 0.4);
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 888;
}

#navigation {
	background-color: #333;
	display: flex;
	flex-direction: column;
	font-size: 14px;
	height: 100vh;
	padding: 20px;
	position: absolute;
	right: -250px;
	top: 0;
	transform: translateX(0);
	transition: 0.5s ease all;
	width: 250px;
	z-index: 999;

	.nav-trigger-close {
		align-self: flex-end;
		font-size: 20px;
	}

	> ul {
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		padding-left: 0;
	}

	ul {
		list-style-type: none;
	}

	li {
		margin-bottom: 10px;
		// a {
		// 	font-weight: bold;
		// }
	}

	.nav-trigger-close, a {
		color: rgba(255, 255, 255, 0.5);
		transition: color 0.2s linear;

		&:hover {
			color: rgba(255, 255, 255, 1);
			cursor: pointer;
			text-decoration: none;
		}
	}

	.selected a {
		color: rgba(255, 255, 255, 1);
	}
}

#nav-trigger:checked ~ #navigation {
	position: absolute;
	transform: translateX(-250px);
}

/* .onscreen-nav #navigation {
	background-color: transparent;
	position: static;
	height: auto;
	padding: 0;

	> ul {
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		border-bottom-width: 0;
		margin: 0;

		li {
			min-width: 50px;
			margin: 0 0 0 30px;

			&.nav-has-children:hover {
				.child-menu {
					display: flex;
					position: absolute;
				}
			}
		}
	}

	.delete-tab {
		margin: -5px -18px 0 0;
		padding: 3px;
	}

	.child-menu {
		flex-direction: column;
		padding-left: 0;
		display: none;

		li {
			margin: 0;
		}
	}

} */

