#banner {
	align-items: center;
	background-color: transparent;
	display: flex;
	flex-wrap: wrap;
	font-size: 24px;
	justify-content: space-between;
	padding: 10px 20px;
	position: fixed;
	transition: background 0.1s linear;
	width: 100%;
	z-index: 555;

	&.filled {
		// background-color: $custom-color-1;
	}

	.logo {
		color: #FFF;
		font-family: $nixie;
		font-weight: 800;
		text-decoration: none;

		&:hover, &:focus {
			text-decoration: none;
		}
	}

	h1, i {
		font-size: inherit;
	}
}

#heading .site-title {
	margin: 0;
}

#nav-wrapper {
	background-color: transparent;
	border-width: 0;
	padding: 0;
}

#nav-trigger {
	display: none;

	&:checked {
		+ .nav-trigger-btn {
			opacity: 0.5;
			transform: translateX(-250px);
			z-index: 999;
		}

		~ .full-page-overlay {
			background-color: rgba(0, 0, 0, 0.2);
			height: 100vh;
			left: 0;
			position: fixed;
			top: 0;
			width: 100vw;
			z-index: 888;
		}

		~ #navigation {
			box-shadow: -5px 0 20px rgba(0, 0, 0, 0.1);
			position: absolute;
			transform: translateX(-250px);
		}
	}
}

.nav-trigger-btn {
	color: #FFF;
	font-size: 30px;
	margin: 0;
	position: absolute;
	right: 20px;
	top: 8px;
	transform: translateX(0);
	transition: 0.5s ease all;

	&:hover {
		cursor: pointer;
		opacity: 0.5;
	}
}

.full-page-overlay {
	transition: background 0.2s linear;
}

@import './_off_screen_navigation.scss';

@media (min-width: 450px) {
	@import './_on_screen_navigation.scss';
}