@import "compass";
@import "mixins";

@font-face {
    font-family: 'fontawesome-alloy';
    font-style: normal;
    font-weight: normal;
    src: url("../css/aui/alloy-font-awesome/font/fontawesome-alloy.eot?#iefix") format("embedded-opentype"), url("../font/fontawesome-alloy.woff") format("woff"), url("../font/fontawesome-alloy.ttf") format("truetype"), url("../font/fontawesome-alloy.svg#fontawesome-alloy") format("svg");
    src: url("../css/aui/alloy-font-awesome/font/fontawesome-alloy.eot");
}


$contentWidth: 1080px;

/* ---------- Common color variables ----------*/

$textColor: #333;
$highlightColor: #FF6C4C;
$hoverColor: #FFF0ED;
$onDarkColor: #EEE;

/* ---------- Global ---------- */

html {
    overflow-y: hidden;
}

.aui {
    body, input, button, select, textarea, label {
        color: $textColor;
        font: normal 300 14px 'Lato', Calibri, sans-serif;
    }

    a {
        color: $textColor;

        &:hover {
            color: $highlightColor;
            text-decoration: none;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 35px;
        font-weight: 400;
        text-transform: uppercase;
    }

    /* ---------- Wrapper ---------- */
    #wrapper {
        height: 100vh;
        overflow-x: hidden;
        padding: 0;
        position: relative;
    }

    #banner {
        height: 85px;
        margin: 0 auto;
        overflow: visible;
        text-align: left;
        width: $contentWidth;
    }

    /* ---------- Sign in ---------- */
    #sign-in {
        display: block;
        float: right;
        font-weight: 300;
        margin-right: 22px;
        margin-top: 33px;
    }

    .portlet-login {
        margin: 0 auto;
        width: $contentWidth;
    }

    /* ---------- Heading ---------- */
    #heading {
        float: left;
        margin-top: 8px;

        /* ---------- Site Logo ---------- */
        .logo.default-logo img {
            display: none;
        }

        .site-title .site-name {
            color: $highlightColor;
            font-size: 36px;
            font-weight: 300;
            margin-left: -8px;
            text-transform: uppercase;
        }

        .page-title {
            display: none;
        }
    }

    /* ---------- Navigation ---------- */
    #navigation {
        float: right;
        height: 85px;

        li {
            display: inline-block;
            font-size: 14px;
            overflow: visible;
            padding: 32px 22px 30px 0;
            position: relative;

            a {
                color: $textColor;
            }

            a:hover {
                color: $highlightColor;
                text-decoration-color: $highlightColor;

                &:after {
                    color: $highlightColor;
                    text-decoration-color: $highlightColor;
                }
            }

            &.selected a {
                color: $highlightColor;
            }

            &:hover ul.child-menu, ul.child-menu:hover {
                display: block;
            }

            .child-menu {
                background: #FFF;
                border-top: 1px solid $highlightColor;
                display: none;
                left: -23px;
                margin: 0;
                padding: 20px;
                position: absolute;
                top: 85px;
                width: 200px;
                z-index: 9999;

                li {
                    background: transparent;
                    padding: 0;
                    width: 100%;

                    a {
                        display: block;
                        padding: 15px;
                        width: 170px;
                    }

                    &:hover {
                        background: $hoverColor;
                    }
                }
            }

            [aria-haspopup='true']:after {
                color: $textColor;
                content: '\f078';
                font-family: 'fontawesome-alloy';
                font-size: 4.8px;
                margin: 0 9px 0 0;
                position: relative;
                right: -9px;
                top: -2px;
            }
        }
    }

    /* ---------- Content ---------- */
    #breadcrumbs {
        display: none;
    }

    #main-content {
        margin: 0 auto;
        min-height: 70vh;

        /* ---------- Gutter Control ---------- */
        .no-gutter .portlet-column {
            margin: 0;
        }

        .no-gutter .span3 {
            width: 25%;
        }

        .no-gutter .span9 {
            width: 75%;
        }

        /* ---------- Portlet Styling ---------- */
        .portlet-boundary {
            .portlet-topper {
                margin: 0 auto;
                width: $contentWidth;

                .portlet-title {
                    font-size: 30px;
                    font-weight: 200;

                    img {
                        display: none;
                    }
                }
            }

            .portlet-content {
                padding: 0;

                .btn {
                    background: transparent;
                    background-image: none;
                    color: $textColor;

                    &:hover {
                        background-color: $highlightColor;
                        color: $onDarkColor;
                    }
                }

                .navigation {
                    background: none;
                }
            }
        }
    }

    /* ---------- Footer ---------- */
    #footer {
        border-top: 1px solid #FFB8A8;
        height: auto;
        min-height: 30vh;
        position: absolute;
        width: 100%;

        > p {
            left: 50%;
            margin: 0 auto 0 -540px;
            padding-top: 20px;
            position: absolute;
            width: $contentWidth;
            z-index: 50;
        }
    }
    /* ---------- Specifics ---------- */
    /* ---------- BannerCarousel Portlet ---------- */
    .carousel-wrapper {
        margin: 0;
        padding: 0;
        position: relative;

        .carousel-text-box {
            max-width: $contentWidth;
            text-align: left;

            h1 {
                background: rgba(51, 51, 51, 0.7);
                color: $onDarkColor;
                font-size: 40px;
                font-weight: 200;
                line-height: 1.6em;
                padding: 3px 10px;
                text-transform: capitalize;
            }
        }

        /* ---------- BannerCarousel Menu ---------- */
        menu {
            background: transparent;
            border-radius: 0;
            height: 75px;
            margin: 0 auto;
            position: relative;
            text-align: center;
            top: 50%;

            li {
                display: inline-block;
                float: none;
                margin-top: 240px;

                &:last-child, &:nth-child(2) {
                    height: 75px;
                    margin-top: 0;
                    position: absolute;
                    top: -50%;

                    &:hover:after {
                        opacity: .9;
                    }

                    &:after {
                        color: #FFF;
                        display: block;
                        font: 100 130px 'fontawesome-alloy';
                        opacity: .5;
                        position: relative;
                        top: -50%;
                    }
                }

                &:last-child {
                    right: -11px;
                }

                &:nth-child(2) {
                    left: 0;
                }

                &:last-child:after {
                    content: '\f105';
                }

                &:nth-child(2):after {
                    content: '\f104';
                }

                a {
                    background: #FFF;
                    background-image: none;
                    border-radius: 20%;
                    height: 12px;
                    margin-left: 5px;
                    opacity: .3;
                    width: 12px;
                }

                a.carousel-menu-active {
                    opacity: 1.0;
                }

                a.carousel-menu-pause {
                    display: none;
                }

                a.carousel-menu-next, a.carousel-menu-prev {
                    display: inline-block;
                    height: 75px;
                    margin-left: -50%;
                    opacity: 0;
                    position: absolute;
                    width: 100%;
                    z-index: 20;
                }
            }
        }
    }

    /* ---------- Misc Details ---------- */
    .input-append {
        margin-bottom: 0;
    }

    /* ---------- Extras ---------- */
    #wrapper {
        @include transform-style;
        perspective: 300px;
        transform: translateZ(300px);
    }

    #navigation {
        li {
            .child-menu {
                @include box-shadow(rgba(0, 0, 0, 0.29804) 0 2px 5px);

                li {
                    @include transition(background 0.5s);
                }
            }
        }
    }

    .portlet-boundary {
        .btn, .btn:hover {
            @include box-shadow(none);
        }
    }

    .carousel-wrapper {
        @include box-shadow(rgba(0, 0, 0, 0.29804) 0 0 10px inset);

        .carousel-item {
            @include transform-style;

            .carousel-image {
                @include transform(translateZ(-600px) scale(3));
            }
        }

        menu {
            li {
                &:last-child, &:nth-child(2) {
                    @include transition(transform 0.3s);
                }

                &:last-child {
                    @include transform(translate(40px, 0));
                }

                &:nth-child(2) {
                    @include transform(translate(-40px, 0));
                }
            }
        }

        &:hover menu li:last-child {
            @include transform(translate(-4em, 0));
        }

        &:hover menu li:nth-child(2) {
            @include transform(translate(4em, 0));
        }
    }
}