@import "compass";

$blueGlow: #1982D1;
$background: #E1E1E1;
$greyText: #575757;

body, html {
	margin: 0;
	padding: 0;
}

body {
	background-color: $background;
	font-family: 12px Helvetica, Arial, sans-serif;
}

#wrapper {
	margin: 0 auto;
    position: relative;
    width: 80%;
}

#banner {
	border-right: 15px;
	height: 500px;
	margin: 90px 0 0 50px;
	padding-right: 15px;
	position: fixed;
	text-align: right;
	top: 0;
	width: 200px;
}

#heading {
	color: $greyText;		
}

#page-search {
	.aui-field-input {
		background: $background;
		border: 1.5px solid #EDEDED;
		color: $greyText;
		height: 20px;
		left: 14px;
		position: relative;
		width: 100px;

		&:focus {
  			border: 1.5px solid #EDEDED;
  			width: 160px;
  		}
	}

	.aui-field-input[type="image"] {
		display: none;
	}
}

#navigation {
	color: $greyText;
	font-size: 12px;
	margin-top: 50px;
  	text-decoration: none;

   h1 {
   	font-size: inherit;
   }

   a {
   	color: $greyText;
   	display: block;
   	padding: 5px 0 5px 10px;
   	text-decoration: none;

   		&:hover {
   			color: $blueGlow;
   		}
   }

   ul {
   		margin-right: 0;

   		ul {
   			background-color: #FFF; 
			display: block;
			left: -999em;
			position: absolute;
			top: 20px;
			width: 115px;
			z-index: 999;

			li {
				border-bottom: 1px dotted #CFCFCF;
				height: 25px;
				
				a {
					margin: auto 0;
					text-align: left;
				}
			}
   		}
    }

   li {
   		list-style-type: none;
		padding-bottom: 10px;

		ul {
			background-color: #FFF; 
			display: block;
			width: 115px;
		}
    }

    ul li:hover > ul, ul ul:hover {
    	left: 115px;
    }
}

#content {
	font-size: 12px;
	margin: 55px 20px 100px 300px;
	padding-bottom: 40px;
}

.portlet {
	background-color: #FFF;
	margin-bottom: 25px;
	margin-right: 15px;
	min-width: 350px;
	padding: 10px;
}

.portlet-topper {
	color: #222;
	font-size: 26px;
	margin: 30px 45px 0 45px;

	.portlet-topper-toolbar {
		color: #000 !important; 
		text-decoration: none;

		&:hover {
		color: $blueGlow;
		}

		ul {
			margin-right: 4px;
			margin-top: 11px;
		}
	}
}

.portlet-title-text:hover {
   	color: $blueGlow;
}

.portlet-body a {
	color: #222;
	text-decoration: none;
}

.portlet-toolbar {
	clear: both;
	margin-left: auto;
	margin-right: auto;
}

.portlet-icon-back {
	background: none;
	color: #000 !important; 
	text-decoration: none;
}

.entry-title {
	h2 a {
		color: #222;
		font-size: 26px;
		text-decoration: none;
	}

	em {
		float: left;
		max-height: 100px;
		width: 100px;
	}

	&:hover {
		color: $blueGlow;
	}
}

.entry-tags a {
	color: $greyText;
	text-decoration: none;

	&:hover {
		color: $blueGlow;
	}
}

.entry {
	text-decoration: none;

	.icon {
		display: none;
	}

	a {
		color: $greyText;
		text-decoration: none;

		&:hover {
			color: $blueGlow;
		}
	}

	span {
		text-decoration: none;
	}

	.taglib-flags .taglib-text {
		text-decoration: none;
	}
}

.lifr-meta-actions {
	color: $greyText;

	&:hover {
		color: $blueGlow;
	}

	.taglib-text {
		text-decoration: none;
	}
}

span .asset-entry {
	display: block;
	margin-right: 20px;
}

div.entry-date {
	color: $greyText !important;
}

.entry-content {
	color: #000;
}

.taglib-social-bookmarks {
	background-color: $background;
}

.portlet-content {
	color: #222;
	line-height: 2;
	margin: 10px 35px 20px 35px;
}

input[type="password"], input[type="text"] {
	background: #F2F2F2;
	border: 1.5px solid #ADADAD;
	color: $greyText;
}

#sign-in {
	padding-bottom: 40px;
	text-decoration: none;

   &:hover {
   		color: $blueGlow;
   		text-decoration: none;
   }
}

#breadcrumbs, h1 .icon, #skip-to-content {
	display: none;
}

a:visited { 
	color: $greyText;
	text-decoration: none; 
}

.page-title {
	color: $greyText;
	font-family: inherit;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 60px;
}

div .subscribe a .taglib-text{
	color: $greyText;
	text-decoration: none;

	&:hover {
		color: $blueGlow;
	}
}

#footer {
	bottom: -30px;
	height:60px;
	position:absolute;
    width:100%;
   
   p {
   	color: $greyText;
   	margin: 0 auto;
   	text-align: center;
   }

   a {
		color: #4A4A4A;
		font-weight: bold;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}

		&:visited {
			color: #000;
		}
	}
}

/* ---------- Extras ---------- */

@mixin color-transition {
	@include transition-duration(.3s);
	@include transition-property(color);
	@include transition-timing-function(ease-in);
}

#banner {
	@include opacity(0.4);
	@include transition-duration(.5s);
	@include transition-property(opacity);
	@include transition-timing-function(ease-in);

   &:hover {
   	@include opacity(1);
   }
}

div .subscribe a .taglib-text, .entry a, .entry-tags a, .entry-title h2 a,.lifr-meta-actions, #navigation a, .portlet-icon-back, .portlet-title-text, #sign-in {
	@include color-transition;
}

.portlet {
	box-shadow: 0 0 5px #BFBFBF;
}

#page-search {
	@include opacity(1);

	.aui-field-input {
		@include transition-property(width);
		@include transition-duration(.5s);
		@include transition-timing-function(ease-in);
	}
}

#navigation ul ul {
	box-shadow: 3px 3px 6px #CFCFCF;
}

span .asset-entry {
	border-radius: 0;
}

#page-search .aui-field-input {
	border-radius: 3px;
}

input[type="password"], input[type="text"] {
	border-radius: 3px;
}