@import '../_custom_vars.scss';

.portlet-decorate .portlet-content {
	background: $portlet-decorate-bg;
	border-color: $portlet-decorate-border-color;
	border-style: $portlet-decorate-border-style;
	border-width: $portlet-decorate-border-width;
	word-break: break-word;
}

.portlet-barebone .portlet-content {
	padding: 0;
}

.portlet-decorate {
    color: black;

	h1, h2, h3, h4 {
		font-family: $alegreyaSans;
	}

	hr {
		border-top: 2px solid #eeeeee;
	}

	blockquote {
		border-left: 5px solid #52a3ba;
	}

    .portlet-content {
        border: none;
        padding: 50px;
        max-width: 1024px;
        margin: 0 auto;
    }

	.btn {
	    background-color: transparent;
	    border-radius: 0;
	    border: 1px solid #000;
	}

	.overlay {
		position: static;
		height: 100%;
		transition: background 0.2s linear;
	}

	.cards {
		padding: 0;

		li {
			padding: 10px;

			button {
				color: transparent;
				margin-top: 33%;
				border-color: transparent;
				transition: 0.2s linear all;
			}

			&:hover {
				.overlay {
					background-color: rgba(133, 190, 196, 0.5);
				}

				button {
					color: #fff;
					border-color: #fff;
				}
			}
		}

		.photo-bg {
			height: 200px;
			background-size: cover;
		}
	}

	.heading {
		padding: 10px;

		h2 {
			margin: 0;
		}

		h4 {
			font-family: $helvetica;
		}
	}

	.heading-row {
		display: flex;
		justify-content: space-between;
	}

	.btn {
	    color: #000;

	    transition: opacity 0.2s linear;

	    &:hover {
	        opacity: 1;
	    }
	}

	.blog-cards {
		li {
			text-align: left;

			h5 {
				font-size: 14px;
				font-family: $alegreyaSans;
				font-weight: bold;
				color: #000;
				transition: opacity 0.2s linear;

				a {
					font-size: inherit;
					color: inherit;
				}

				&:hover {
					opacity: 0.7;
				}
			}

			h6 {
			    opacity: 0.6;
			    font-size: 10px;
			}


			p {
				font-size: 12px;
			}

			span {
				font-weight: bold;
			}

			a {
				color: #52a3ba;
				font-size: 10px;
			}
		}
	}

	.testimonials {
		li {
			max-width: 300px;
		}

		img {
			width: 100%;
			min-width: 260px;
			padding: 0 75px;
			border-radius: 50%;
			margin-bottom: 20px;
		}

		p {
			font-size: 10px;
			padding: 10px;
		}

		h5 {
			font-size: 11px;
			font-weight: bold;
			opacity: 0.7;
		}
	}
}