/* Portlet Banner look and feel styles */

.portlet-banner {
	.portlet-title-text {
		display: none;
	}

	.portlet-content {
		color: white;
		padding: 0;
	}

	.portlet-topper {
		border-radius: 4px;
		left: 15px;
		position: absolute;
		top: 50px;
		width: 200px;
	}

	.full-page-banner {
		align-items: center;
		border-radius: 0;
		display: flex;
		flex-direction: column;
		height: 100vh;
		justify-content: space-between;

		h1, h4 {
			text-transform: uppercase;
		}

		h1 {
			font-family: $nixie;
			font-size: 36px;
		}

		h4 {
			font-family: $alegreyaSC;
			font-size: 16px;
			opacity: 0.6;
		}

		@media (max-width: 500px) {
			h1 {
				font-size: 24px;
			}

			h4 {
				font-size: 14px;
			}
		}
	}

	.photo-bg {
		background-attachment: fixed;
		background-position-x: cover;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.banner-content {
		color: #FFF;
		margin-top: 35vh;
		text-align: center;
	}

	.site-banner {
		padding: 150px 50px;

		.heading {
			margin-bottom: 50px;
			text-align: center;

			h3, h4 {
				margin: 0;
			}

			h4 {
				font-family: $helvetica;
				font-size: 14px;
				opacity: 0.7;
			}
		}
	}

	.call-to-action {
		margin: 0 auto;
		max-width: 1000px;
		padding: 0;
		text-align: center;

		button {
			background-color: #76DCC8;
			color: rgba(255, 255, 255, 0.8);
			margin-top: 30px;
			transition: color 0.2s linear;

			&:hover {
				color: rgba(255, 255, 255, 1);
			}
		}
	}
}