.portlet-decorate .portlet-content {
	background: $portlet-decorate-bg;
	border: $portlet-decorate-border-width $portlet-decorate-border-style $portlet-decorate-border-color;
	word-break: break-word;
}

.portlet-barebone .portlet-content {
	padding: 0;
}