<style type="text/css">
	#myTabc.nav-stacked > li {
		width: 90%;
	}

	#myTab .nav {
		margin-bottom: 0px;
	}

	#myTab .tab-label {
		text-align: center;
	}

	#myTab .nav-tabs > li > a {
		background-color: inherit;
	}

	#myTab .nav-tabs:not(.nav-pills) > li.active > a {
		background-color: #F7F7F7;
	}

	#myTab .tab-content {
		background: inherit;
		border-top: 0;
	}
</style>

<div id="myTab">
	#if (!$label.getSiblings().isEmpty())
		<ul class="nav nav-tabs">
			#foreach ($cur_label in $label.getSiblings())
				<li><a href="#tab-s${velocityCount}">$cur_label.getData()</a></li>
			#end
		</ul>

		<div class="tab-content">
			#foreach ($cur_label in $label.getSiblings())
				<div id="tab-s${velocityCount}">
					<p>$cur_label.getChild('content').getData()</p>
				</div>
			#end
		</div>
	#end
</div>

<script type="text/javascript">
	AUI().use(
		'aui-tabview',
		function(A) {
			var stacked = false;

			if ('$stackedTabs.getData()' === 'true') {
				stacked = true;
			}

			new A.TabView(
				{
					srcNode: '#myTab',
					stacked: stacked,
					type: $type.getData()[0]
				}
			).render();
		}
	);
</script>